<div class="page-header">
  <h3>Journal Entry #<%= @journal_entry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Work hours per day</dt>
      <dd><%= @journal_entry.work_hours_per_day %></dd>

      <dt>Sleep hours per day</dt>
      <dd><%= @journal_entry.sleep_hours_per_day %></dd>

      <dt>Social connections per day</dt>
      <dd><%= @journal_entry.social_connections_per_day %></dd>

      <dt>User</dt>
      <dd><%= @journal_entry.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/journal_entries" class="btn btn-primary">
        Back
      </a>
      <a href="/journal_entries/<%= @journal_entry.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_journal_entry/<%= @journal_entry.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
